body{
    font-family: 'Arimo', sans-serif;
}

ul {
    list-style-type: none;
    margin-right: 10%;
    margin-left: 8%;
    padding: 0;
    overflow: hidden;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 25px;
  }
  
  li a:hover {
    background-color: rgb(160, 160, 160);
    color: white;
  }

.logo {
    font-family: 'Permanent Marker', cursive;

}


.about-me {
    width: 100%;
    margin-top: 5%;
    
}


.about-me .col-left, .about-me .col-right {
    width: 50%;
    float: left;
}

.about-me .col-right img {
    max-width: 100%;
    padding-left: 10%;
}

.about-me a {
    background-color: rgb(160, 160, 160);
    padding: 10px 25px;
    text-decoration: none;
    color: white;
    border-radius: 25px;
    box-shadow: 3px 3px 5px grey;
    display: inline-block;
    margin-top: 20px;
    font-family: 'Permanent Marker', cursive;

}

.about-me a:hover {
    background-color: rgb(99, 99, 99);

}

.text {
    padding-left: 20%;
}

.my-approach {
    text-align: center;
    max-width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 40px;
    margin-top: 90px;
}

h3 {
    font-family: 'Permanent Marker', cursive;
}

.my-project {
    width: 100%;
    margin-top: 5%;
    
}

.text-2 {
    padding-right: 15%;
}
.my-project .col-left, .my-project .col-right {
    width: 50%;
    float: left;
}

.my-project .col-left img {
    max-width: 100%;
    padding-left: 10%;
}



.my-project a {
    background-color: rgb(160, 160, 160);
    padding: 10px 25px;
    text-decoration: none;
    color: white;
    border-radius: 25px;
    box-shadow: 3px 3px 5px grey;
    display: inline-block;
    margin-top: 20px;
    font-family: 'Permanent Marker', cursive;
    text-align: center;

}